<link rel="stylesheet" href="/css/style.css">
<body>
    <% layout('/layouts/boilerplate') %>
    <h3>New User Registration</h3>
    <div class="row">
        <div class="col-8 offset-2">
            <form class="needs-validation" action="/user" method="POST" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" name='user[name]' placeholder="Enter your full name" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="text" name="user[email]" placeholder="Enter your email id">
                </div>
                <br>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input class="form-control" name="user[image]" type="file" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="user[password]" placeholder="Enter your password" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="resumePath" class="form-label">Upload Resume</label>
                    <input class="form-control" name="user[resumePath]" type="file" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" name="user[location]" placeholder="Enter the location" required>
                    <div class="invalid-feedback">Please enter a vaild location</div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" type="text" name="user[country]" placeholder="Enter the Country" required>
                    <div class="invalid-feedback">Please enter a vaild country</div>
                <br>
                <button class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>
    
</body>
